<p class="info text">Site estático desenvolvido para a Paulo Cezar Tailor Made. Fui responsável desde o recorte das imagens, até a estilização e desenvolvimento de scripts para eventos específicos.</p>
<p class="note text">Ps: Devido a remoção de scripts pela equipe atualmente responsável pela manutenção do projeto, a Home do site apresenta um problema de carregamento.</p>

<img src="../../assets/img/projetos/proj-2/pc-camisas-home-layout-wide.jpg" alt="Layout Home - PC Camisas" title="Layout Home - PC Camisas">

<a href="http://www.pccamisas.com.br" title="Clique para visitar este projeto" target="_blank" class="button button-visit">Ver Projeto</a>
<a href="#" class="button button-more">Mais Imagens</a>
