<section id="sobre">
  <h3>Sobre Mim</h3>

  <div class="quadro-perfil">
    <div class="code"><i class="icon-code"></i></div>
    <div class="mobile"><i class="icon-mobile"></i></div>
    <div class="foto-perfil"></div>
    <div class="ok"><i class="icon-ok-squared"></i></div>
    <div class="thumbs-up"><i class="icon-thumbs-up"></i></div>
  </div>


    <div class="blurb">
      {{ site.data.portifolio.blurb }}
    </div>

  <div class="habilidades">

    {% for item in site.data.portifolio.habilidades %}
    <div class="item">
      <h3 class="titulo">{{ item.name }}</h3>
      <div class="icone nivel-{{ item.value }}">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span>        <span></span>
      </div>
    </div>
    {% endfor %}

  </div>
</section>
