<!-- Contato -->
<section id="contato" class="section section-contato">
	<h3 class="section-title titulo">Contato</h3>
	<div class="links-sociais">
		<a href="//br.linkedin.com/pub/jhemerson-meneses/43/aa4/8b" target="_blank" class="icon-linkedin" title="Confira meu perfil no Linkedin"></a>

		<a href="//www.twitter.com/yesmrjames" target="_blank" class="icon-twitter" title="Me siga no Twitter"></a>

		<a href="//plus.google.com/" target="_blank" class="icon-gplus" title="Me siga no Google+"></a>

		<a href="mailto:jhemerson.comercial@gmail.com" class="icon-mail" title="Me envie um e-mail"></a>
	</div>

	<hr class="bar">

	<a href="mailto:jhemerson.comercial@gmail.com" class="biglink">jhemerson.comercial@gmail.com</a>
</section>
<!-- END Contato -->
