<!-- Contato -->
<section class="section section-formulario" id="formulario">
	<h3 class="section__title">Vamos Trabalhar Juntos</h3>
	<form class="section__form contact-form" action="//formspree.io/jhemerson.comercial@gmail.com" method="POST">
		<div class="info-contato">
			<label for="name"><span>Nome</span>
			<input type="text" name="name" /></label>

			<label for="_replyto"><span>E-mail</span>
			<input type="email" name="_replyto" /></label>
		</div>

		<span>Me conte sobre o seu projeto</span>

		<textarea name="message" id="ta-message" cols="30" rows="8"></textarea>

		<div class="enviar-wrap">
			<input type="submit" value="Enviar" />
		</div>
	</form>
</section>
<!-- END Formulario -->
