.quadro-perfil
  max-width: 780px
  @include display(flex)
  margin: 0 auto
  @include align-items(center)
  @include justify-content(space-between)

  .foto-perfil
    +size(200px)
    background: url(../img/profile-img.jpg)

  div
    +size(100px)
    background: $accent-light
    border-radius: 50%
    text-align: center

    i[class^="icon-"]
      color: #fff
      font-size: 30px
      line-height: 100px


    .icon-code
      margin-left: -0.4em

.blurb
  max-width: 840px
  padding: 0 15px
  margin: 50px auto
  font-size: 24px
  text-align: center
  font-weight: 300

  strong
    color: $accent-light
    display: block

@media screen and (max-width: 650px)
  .quadro-perfil
    display: block
    text-align: center

    div
      display: inline-block
      margin: 0 15px

      &.foto-perfil
        display: block
        background-position: center center
        background-repeat: no-repeat
        width: auto
        margin-bottom: 30px
        clear: both
        over: 1

      &.code
        over: 2

      &.mobile
        over: 3

      &.ok
        over: 4

      &.thumbs-up
        over: 5

.habilidades
  max-width: 700px
  margin: 50px auto
  color: #999
  @include clearfix

  .item
    width: 350px
    float: left

    .titulo
      text-align: left
      padding: 0
      margin-bottom: .45em
      color: #999
      font-weight: 300

    .icone
      font-size: 0
      margin: 0px 0 30px

      span
        display: inline-block
        @include size(12px)
        background-color: $accent-light
        margin-right: 5px
        border-radius: 50%

        &:after
          content: ''
          display: block
          @include size(8px)
          border-radius: 50%
          background: #fff
          margin: 2px

      @for $i from 1 through 10
        &.nivel-#{$i} span:nth-child(n+#{$i+1})
          @extend %background-default

@media screen and (max-width: 800px)
  .blurb
    font-size: 20px

  .habilidades
    max-width: 70%

  .habilidade
    width: 270px
